In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.master("local").appName("SparkPartition").getOrCreate()
sc = spark.sparkContext

In [4]:
#This feature helps in running a optimised spark application - uses the runtime stats 
#to choose most efficient query execution

"""
Use of auto repartitioning spark.sql.adaptive.coalescePartitions.enabled, spark.sql.adaptive.enabled
Difference between spark repartitons and partitionBy
Reparition, spark engine will chose optimal number of paritions
ParitionBy has to be given when we use dataframe writer, we cannot give a number. it has to be always column name
"""

df = spark.read.format("csv").option("header","True") \
.load("file:///C:/Users/venka/PycharmProjects/pythonProject/dataset/BankChurners.csv") \
.repartition(3)

df.show()

df.rdd.getNumPartitions()

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
|711947358|Existing Customer|          49|     M|              4|     Uneducated|       Married|        $120K +|         Blue|            38|                       2|                     3|                    1|       18991|               1208|          17783|               0.727|           7716|            83|              0.804|                0.064|
|721349883|Existing Customer|          51|     F|              4|       Graduate|        Single| Less than $40K|         Blue|            39|                       3|                     2|                    1|        2847|               2082|            765|               0.787|           3672|            59|              0.553|                0.731|
|716870583|Existing Customer|          36|     F|              3|        Unknown|       Married| Less than $40K|         Blue|            36|                       6|                     5|                    3|        2786|               1628|           1158|               1.314|           2853|            55|              0.667|                0.584|
|713809833|Existing Customer|          42|     F|              3|       Graduate|       Unknown|        Unknown|         Blue|            32|                       2|                     3|                    2|        9749|                859|           8890|               0.584|           4684|            86|              0.623|                0.088|
|720292983|Existing Customer|          60|     F|              0|       Graduate|       Married| Less than $40K|         Blue|            51|                       6|                     1|                    2|        2230|               1796|            434|               0.637|           4929|            61|              0.488|                0.805|
|718109808|Existing Customer|          38|     M|              5|        College|        Single|    $60K - $80K|         Blue|            25|                       4|                     3|                    0|        5597|               1118|           4479|               0.753|           4599|            89|              0.648|                  0.2|
|712013808|Existing Customer|          44|     F|              4|     Uneducated|        Single|        Unknown|         Blue|            24|                       6|                     3|                    2|        2717|               1720|            997|               0.869|           4196|            71|              0.614|                0.633|
|718993533|Existing Customer|          44|     M|              2|       Graduate|       Unknown|   $80K - $120K|         Blue|            37|                       2|                     3|                    0|       15821|               1334|          14487|                0.81|           8927|           103|              0.635|                0.084|
|710780883|Existing Customer|          48|     F|              5|     Uneducated|        Single|    $40K - $60K|         Blue|            38|                       1|                     2|                    3|        2446|               1461|            985|                0.86|           4610|            78|              0.773|                0.597|
|712027683|Existing Customer|          47|     F|              2|      Doctorate|       Married| Less than $40K|         Blue|            35|                       3|                     2|                    2|        5544|               1184|           4360|                0.85|           1336|            38|              0.652|                0.214|
|709711758|Attrited Customer|          45|     F|              3|     Uneducated|      Divorced| Less than $40K|         Blue|            32|                       3|                     2|                    2|        1942|                  0|           1942|               0.366|           1853|            31|              0.107|                    0|
|719453283|Existing Customer|          45|     F|              2|     Uneducated|       Married| Less than $40K|         Blue|            36|                       3|                     4|                    3|        2918|               1597|           1321|               0.884|           4454|            76|                0.9|                0.547|
|772813458|Existing Customer|          48|     F|              3|       Graduate|       Married|        Unknown|         Blue|            39|                       3|                     1|                    2|        6130|               1741|           4389|               0.578|           4264|            63|              0.658|                0.284|
|718282983|Existing Customer|          60|     M|              0|        College|       Unknown| Less than $40K|         Blue|            47|                       6|                     3|                    3|        3076|               2257|            819|               0.795|           4522|            75|              0.471|                0.734|
|771516333|Existing Customer|          41|     F|              2|       Graduate|       Unknown|    $40K - $60K|         Blue|            29|                       6|                     2|                    3|        4663|                  0|           4663|               0.892|           3831|            81|              0.761|                    0|
|779980758|Existing Customer|          58|     M|              2|    High School|      Divorced|    $60K - $80K|         Blue|            46|                       6|                     2|                    0|        2467|               1176|           1291|               0.811|           4744|            73|              0.921|                0.477|
|717478983|Existing Customer|          31|     F|              2|     Uneducated|      Divorced| Less than $40K|         Blue|            19|                       6|                     2|                    0|        2853|               1961|            892|               0.866|           2697|            68|              0.789|                0.687|
|714879483|Attrited Customer|          39|     M|              4|       Graduate|       Married|   $80K - $120K|         Blue|            31|                       1|                     3|                    3|        3929|                542|           3387|               0.811|           7773|            64|               0.73|                0.138|
|807589908|Existing Customer|          47|     F|              5|        Unknown|       Married| Less than $40K|         Blue|            42|                       1|                     2|                    1|        1778|                822|            956|                0.68|           4189|            80|              0.667|                0.462|
|720186258|Existing Customer|          45|     F|              4|    High School|      Divorced|    $40K - $60K|         Blue|            31|                       5|                     2|                    4|        4701|               1170|           3531|               0.547|           4136|            77|              0.604|                0.249|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
only showing top 20 rows

3

In [5]:
df_widetrans = df.select("Card_Category").distinct()

df_widetrans.show()

df_widetrans.rdd.getNumPartitions()

+-------------+
|Card_Category|
+-------------+
|     Platinum|
|       Silver|
|         Blue|
|         Gold|
+-------------+

1

In [44]:
#To enable shuffle auto repartitioning, enable AQE and specify repartitioning as well.
spark.conf.get("spark.sql.adaptive.enabled")

'true'

In [7]:
spark.conf.set("spark.sql.adaptive.enabled","false")

In [45]:
#spark repartitions
spark.conf.get("spark.sql.adaptive.coalescePartitions.enabled")

'true'

In [8]:
spark.conf.set("spark.sql.adaptive.coalescePartitions.enabled","false")

In [11]:
#Difference between Reparitions and PartitionBy
df1 = spark.read.format("csv").option("header","True") \
.load("file:///C:/Users/venka/PycharmProjects/pythonProject/dataset/IntPersonal_transactions.csv")

In [13]:
df1.show()

+-----------+-------------+---------+-------------------+----------------+-------+
|Customer_No|    Card_type|     Date|           Category|Transaction Type| Amount|
+-----------+-------------+---------+-------------------+----------------+-------+
|    1000501|Platinum Card| 1/1/2018|           Shopping|           debit|  11.11|
|    1000501|     Checking| 1/2/2018|    Mortgage & Rent|           debit|1247.44|
|    1000501|  Silver Card| 1/2/2018|        Restaurants|           debit|  24.22|
|    1000501|Platinum Card| 1/3/2018|Credit Card Payment|          credit|2298.09|
|    1000501|Platinum Card| 1/4/2018|      Movies & DVDs|           debit|  11.76|
|    1000501|  Silver Card| 1/5/2018|        Restaurants|           debit|  25.85|
|    1000501|  Silver Card| 1/6/2018|   Home Improvement|           debit|  18.45|
|    1000501|     Checking| 1/8/2018|          Utilities|           debit|     45|
|    1000501|  Silver Card| 1/8/2018|   Home Improvement|           debit|  15.38|
|    1000501|Platinum Card| 1/9/2018|              Music|           debit|  10.69|
|    1000501|     Checking|1/10/2018|       Mobile Phone|           debit|  89.46|
|    1000501|Platinum Card|1/11/2018|         Gas & Fuel|           debit|  34.87|
|    1000501|Platinum Card|1/11/2018|          Groceries|           debit|  43.54|
|    1000501|     Checking|1/12/2018|           Paycheck|          credit|   2000|
|    1000531|Platinum Card|1/13/2018|          Fast Food|           debit|  32.91|
|    1000531|Platinum Card|1/13/2018|           Shopping|           debit|  39.05|
|    1000531|  Silver Card|1/15/2018|          Groceries|           debit|  44.19|
|    1000531|  Silver Card|1/15/2018|        Restaurants|           debit|  64.11|
|    1000531|     Checking|1/16/2018|          Utilities|           debit|     35|
|    1000531|     Checking|1/16/2018|          Utilities|           debit|     60|
+-----------+-------------+---------+-------------------+----------------+-------+
only showing top 20 rows

In [23]:
df2 = df1.select("customer_no").distinct()

In [25]:
df2.rdd.getNumPartitions()

200

In [26]:
#1. Basic Syntactical Usage - you can use either num or column name
#It will upscale or downgrade the partition to given number
df1.repartition(3).rdd.getNumPartitions()

3

In [30]:
#It is not mandatory to have seven(unique) customer no paritions, spark engine gives optimal value
df1.repartition("customer_no").rdd.getNumPartitions()

200

In [31]:
#Spark engine will ensure unique records reside in same parition
df1.repartition(2,"customer_no").rdd.getNumPartitions()

2

In [32]:
df1.write.partitionBy("customer_no")

In [38]:
#We can have empty paritions as well when repartition number is very large
from pyspark.sql.functions import spark_partition_id

df_part = df1.repartition(3,"customer_no").withColumn("partitionId",spark_partition_id()) \
    .groupBy("partitionId") \
    .count()

In [40]:
df_part.show()

+-----------+-----+
|partitionId|count|
+-----------+-----+
|          1|   14|
|          2|   60|
|          0|   31|
+-----------+-----+

In [44]:
#Functional difference is observed when we save files using repartition(data written to memory, will involve shuffle operation) 
# and paritionBy(data written to disk, will not involve shuffle to push data to target path)
#Filter on paritionBy(target data segregation) will return results faster

filepath = "file:///C:/Users/venka/PycharmProjects/pythonProject/dataset/"
        

df1.repartition("Customer_No").write.format("csv") \
.option("header",True).mode("overwrite") \
.save(filepath + "Online/repart/customer")

In [46]:
df1.write.format("csv").partitionBy("Customer_No") \
.option("header",True).mode("overwrite") \
.save(filepath + "Online/partBy/customer")

In [47]:
#Performance analysis
#read the target directory
in_part = spark.read.csv(filepath + "Online/partBy/customer/", header = True ).filter("Customer_No=1002324")

In [49]:
in_part.show()

+-------------+---------+-------------------+----------------+------+-----------+
|    Card_type|     Date|           Category|Transaction Type|Amount|Customer_No|
+-------------+---------+-------------------+----------------+------+-----------+
|Platinum Card| 3/5/2018|       Coffee Shops|           debit|     3|    1002324|
|  Silver Card| 3/5/2018|Credit Card Payment|          credit|761.59|    1002324|
|     Checking| 3/5/2018|Credit Card Payment|           debit|761.59|    1002324|
|Platinum Card| 3/7/2018|       Coffee Shops|           debit|   3.5|    1002324|
|Platinum Card| 3/8/2018|         Gas & Fuel|           debit|  34.9|    1002324|
|     Checking| 3/8/2018|          Utilities|           debit|    52|    1002324|
|Platinum Card| 3/9/2018|          Groceries|           debit| 20.72|    1002324|
|Platinum Card| 3/9/2018|          Groceries|           debit|  5.09|    1002324|
|Platinum Card| 3/9/2018|              Music|           debit| 10.69|    1002324|
|Platinum Card|3/12/2018|          Groceries|           debit| 19.35|    1002324|
|     Checking|3/12/2018|       Mobile Phone|           debit| 89.52|    1002324|
|Platinum Card|3/13/2018|           Shopping|           debit| 45.75|    1002324|
|Platinum Card|3/14/2018|          Groceries|           debit|  22.5|    1002324|
|Platinum Card|3/14/2018|        Restaurants|           debit|  8.49|    1002324|
|Platinum Card|3/15/2018|       Coffee Shops|           debit|   3.5|    1002324|
|     Checking|3/15/2018|          Utilities|           debit|    60|    1002324|
|     Checking|3/16/2018|           Paycheck|          credit|  2000|    1002324|
|  Silver Card|3/17/2018|     Alcohol & Bars|           debit|  19.5|    1002324|
+-------------+---------+-------------------+----------------+------+-----------+

In [50]:
df1.filter("Customer_No=1002324").show()

+-----------+-------------+---------+-------------------+----------------+------+
|Customer_No|    Card_type|     Date|           Category|Transaction Type|Amount|
+-----------+-------------+---------+-------------------+----------------+------+
|    1002324|Platinum Card| 3/5/2018|       Coffee Shops|           debit|     3|
|    1002324|  Silver Card| 3/5/2018|Credit Card Payment|          credit|761.59|
|    1002324|     Checking| 3/5/2018|Credit Card Payment|           debit|761.59|
|    1002324|Platinum Card| 3/7/2018|       Coffee Shops|           debit|   3.5|
|    1002324|Platinum Card| 3/8/2018|         Gas & Fuel|           debit|  34.9|
|    1002324|     Checking| 3/8/2018|          Utilities|           debit|    52|
|    1002324|Platinum Card| 3/9/2018|          Groceries|           debit| 20.72|
|    1002324|Platinum Card| 3/9/2018|          Groceries|           debit|  5.09|
|    1002324|Platinum Card| 3/9/2018|              Music|           debit| 10.69|
|    1002324|Platinum Card|3/12/2018|          Groceries|           debit| 19.35|
|    1002324|     Checking|3/12/2018|       Mobile Phone|           debit| 89.52|
|    1002324|Platinum Card|3/13/2018|           Shopping|           debit| 45.75|
|    1002324|Platinum Card|3/14/2018|          Groceries|           debit|  22.5|
|    1002324|Platinum Card|3/14/2018|        Restaurants|           debit|  8.49|
|    1002324|Platinum Card|3/15/2018|       Coffee Shops|           debit|   3.5|
|    1002324|     Checking|3/15/2018|          Utilities|           debit|    60|
|    1002324|     Checking|3/16/2018|           Paycheck|          credit|  2000|
|    1002324|  Silver Card|3/17/2018|     Alcohol & Bars|           debit|  19.5|
+-----------+-------------+---------+-------------------+----------------+------+